.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header h1 {
  font-size: 3rem;
  color: var(--branco);
}

.header p {
  font-size: 1rem;
  color: var(--branco);
  margin-bottom: 1rem;
}

.formulario {
  display: flex;
  gap: 0.5rem;
}

.inputBuscar {
  background: var(--cinza);
  border-radius: var(--border-radius);
  padding: 1rem 1.2rem;
  font-size: var(--font-paragrafo);
  width: 30rem;
  outline: none;
  border: none;
  color: var(--branco);
}

.inputBuscar::placeholder {
    color: var(--cinza-claro);
}

.botaoBuscar {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--branco);
}