.climaAtual {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
}

.condicaoPrincipal .descricao {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--branco);
}

.temperatura {
  font-size: 6rem;
  color: var(--branco);
  font-weight: 200;
}

.cabecalho {
  display: flex;
  color: var(--branco);
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  align-items: center;
}

.cabecalho .horaAtual {
  font-size: 2.5rem;
}

.cabecalho h2 {
    font-size: 3rem;
}

.cabecalho img {
  width: 56px;
  height: 56px;
}

.condicaoDetalhada {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.detalhes {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.detalheItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--branco);
  font-size: 1.2rem;
}

.valorDetalhe {
  font-size: 1.1em;
}