.languageSwitcher {
    position: absolute;
    top: 20px; 
    right: 20px; 
    z-index: 10;
}

.select {
    background: var(--cinza); /* Usa variável de cor existente */
    color: var(--branco);
    border: 1px solid var(--cinza-claro);
    border-radius: var(--border-radius) ;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    outline: none;
    -webkit-appearance: none; /* Remove estilo padrão em navegadores WebKit */
    -moz-appearance: none;    /* Remove estilo padrão em Firefox */
    appearance: none;         /* Remove estilo padrão */
    padding-right: 1.2rem; 
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Cpath%20d%3D%22M4.5%204l3%203%203-3H4.5z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
}