* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

:root {
  --branco: white;
  --preto: #090a0ad8;
  --cinza-escuro: #1a1a1a;
  --cinza: #343434d8;
  --cinza-claro: #a6a7a7d8;
  --border-radius: 2rem;
  --font-paragrafo: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--cinza-escuro);
  height: 100vh;
}