* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

:root {
  --padding: 2rem 1rem;
  --white: white;
  --preto: #101010;
  --background: #f4f4f4;
  --border-radius: 1.2rem;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.13);
  --font-paragrafo: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--background);
  height: 100vh;
}